langchain
langchain_community
langchain_core
python-dotenv==1.0.1
beautifulsoup4
ctransformers 
sentence-transformers
html2text==2020.1.16
firecrawl-py
openai
pandas
openpyxl
qdrant-client
torch
fastapi==0.109.2
joblib==1.3.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
numpy
langchain-huggingface
chromadb
matplotlib
torch 
torchvision 
torchaudio
marker-pdf